<% include ../partials/_head.ejs %>

  <section class="profile-header">
    <div class="nav-bar">
      <img class="logo" rel ="logo" type="img/png" src="/images/todo-icon.png" width="100" height="100" />
      <h1>Welcome USER!</h1>
        <a href="accounts/logout">Log Out</a>
    </div>
  </section>

<% include ../partials/_footer.ejs %>