<% include ./partials/_head.ejs %>

  <h1>Welcome to TODO List</h1>
  <a href="/profile">View Profile</a>


  <div>
    <button type="text" id="login">Log in</button>
  </div>

<% include ./partials/_footer.ejs %>