<% include ./partials/_head.ejs %>
  <section class="main-page">
    <div class="nav-bar">
      <h1>Welcome to TODO List</h1>
        <a href="accounts/profile">View Profile</a>
        <a href="accounts/signup">Create Account</a>
        <a href="accounts/login">Log In</a>
    </div>
  </section>
<% include ./partials/_footer.ejs %>