<% include ../partials/_head.ejs %>
<script src="/scripts/todo.js" defer></script>
<div id="date2"></div>

<section class="login">
    <div class="container">
      <h1>Welcome to your page</h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    <section>
      <div class="form-group">
        <label for="text">Add New List, Click below</label>
        <input type="text" id="ToDo" name="ToDo" placeholder="name of the list" />
        <button type="submit" id="add-list">Add To Do</button>
        
      </div>
      <section id="list"></section>
    </section>
  

    <style>

      :root {
          --righteous-font: 'Righteous', cursive;
      }
      
      body { 
          background-image: url("https://blog.hubspot.com/hubfs/To_Do_List.png");
          min-height: 100vh;
          z-index: -10;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          color: white;
          font-size: 1.3rem;		    
      }
    
      </style>
    


      





<% include ../partials/_footer.ejs %>