<% include ../partials/_head.ejs %>

<div id="date2"></div>

<section class="login">
    <div class="container">
      <h1>Welcome to your page</h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    
      <div class="form-group">
        <label for="text">Add New List, Click below</label>
        <li><a href="/profile">To Do List</a></li>
        
      </div>

      <style>
        body {
          background-color: rgb(41, 192, 212);
          background-image: url("https://pm1.narvii.com/6703/fdda414cbe75da98e41c0accb7baa3fcf3017bbf_hq.jpg");
          background-position: center;
          background-repeat: no-repeat;
    
        }

        h1  {
          color: blue;
          margin: 0px;
          padding: 0px;
          text-align: left;
          margin-top: 12rem;
	        margin-bottom: 0px;
	        font-family: var(--righteous-font);
}
        	
        

        
       </style>



      





<% include ../partials/_footer.ejs %>