* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  background-color: aquamarine;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 100px;
}

h1, h2 {
  margin-bottom: 1.5em;
  color: white;
}

label {
  display: block;
  margin-bottom: 1em;
  font-size: 1em;
  color: #999;
}

input {
  width: 100%;
  padding: 1em;
  font-size: 1em;
  line-break: 1.6;
  border: 2px solid #ddd;
  text-align: center;
}

input[type="submit"] {
  background: steelblue;
  width: auto;
  padding: .8em 1.8em;
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  border: 1px solid #ddd;
  border-radius: .4em;
  float: right;
  cursor: pointer;
  box-shadow: none;
}

/* LAYOUT */

.container {
  max-width: 1200px;
  margin: 0 auto 3em;
  overflow: hidden;
}

.login, .signup {
  max-width: 600px;
  margin: 3em auto;
}

.form-group {
  width: 100%;
  margin-bottom: 3em;
  overflow: hidden;
}

/* Nav */
.nav-bar h1 {
  display: inline;
  float: left;
  font-size: 40px;
  color: gray;
  margin: 0;
  padding: 10px;
}

.nav-bar img {
  display: inline;
  float: left;
}

.nav-bar a {
  display: inline;
  background-color: lightslategray;
  color: white;
  overflow: hidden;
  padding: 0 5%;
  padding: 25px 20px;
  float: right;
}

nav {
  background-color: #ddd;
  width: 100%;
  padding: 0 5%;
  color: #444;
  margin-bottom: 40px;
  overflow: hidden;
}

nav ul {
  /* font-size: 0; */
  float: right;
}

nav li {
  list-style-type: none;
  display: inline-block;
  font-size: 1em;
}

nav li a {
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  color: #444;
}

li.active a, nav li:hover a {
  text-decoration: none;
  color: #ddd;
  background: #444;
}

/* Messages */

.alert.error:first-of-type {
  margin: -30px auto 10px;
}

.alert.error {
  background-color: #f8d7da;
  max-width: 680px;
  padding: 20px;
  margin: 0 auto 10px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  color: #721c24;
}

.alert .container {
  margin: 0 auto;
}
